# Refer to all C routines by their name prefixed by C_
useDynLib(flexrsurv, .registration = TRUE, .fixes = "C_")

export("flexrsurv",
       "flexrsurv.ll",
       "flexrsurvclt",
       "flexrsurvclt.ll",
       "ndf.flexrsurvclt",
       "NLL",
       "NPH",
       "NPHNLL",
       "NPHalpha", 
       "NLLbeta",
       "WCEI",
       "getHazardFromTable",
       "getPseudoHazardFromTable",
       "getBrassPseudoHazardFromTable",
       "predictCLT", 
       "predictSpline"       
              )
S3method(print, flexrsurv)
S3method(summary, flexrsurv)
S3method(print, summary.flexrsurv)
S3method(predict, flexrsurv)
S3method(predict, flexrsurvclt)
S3method(logLik, flexrsurv)
S3method(nobs, flexrsurv)
S3method(vcov, flexrsurv)
S3method(predictCLT, default)
S3method(predictCLT, flexrsurvclt)


importFrom("utils", "packageVersion")
import(methods)
importFrom(splines, spline.des)
importFrom(survival, Surv, survexp, is.ratetable, survSplit, ratetableDate)
import(stats)
importFrom(orthogonalsplinebasis, SplineBasis, evaluate )
importFrom(Epi, Lexis, splitLexis)
import(Formula)
import(formula.tools)
importFrom(statmod, gauss.quad )
importFrom(numDeriv, hessian, jacobian )
importFrom("R.utils", "extract")
importFrom("Matrix", sparse.model.matrix, crossprod)


