# Refer to all C routines by their name prefixed by C_
useDynLib(flexrsurv, .registration = TRUE, .fixes = "C_")

export("flexrsurv",
       "flexrsurv.ll",
	   "print.flexrsurv",
       "summary.flexrsurv",
       "print.summary.flexrsurv",
       "predict.flexrsurv",
	   "logLik.flexrsurv",
       "nobs.flexrsurv",
       "NLL",
       "NPH",
       "NPHNLL",
	   "NPHalpha", 
	   "NLLbeta"
       )
S3method(print, flexrsurv)
S3method(summary, flexrsurv)
S3method(print, summary.flexrsurv)
S3method(predict, flexrsurv)
S3method(logLik, flexrsurv)
S3method(nobs, flexrsurv)

importFrom("utils", "packageVersion")
import(methods)
importFrom(splines, spline.des)
importFrom(survival, Surv)
import(stats)
importFrom(orthogonalsplinebasis, SplineBasis, evaluate )
importFrom(statmod, gauss.quad )
import(matrixcalc)
importFrom(Epi, Lexis, splitLexis)
import(formula.tools)

